header {
    font-family: 'Permanent Marker', cursive;
    padding: 20px;
    text-align: center;
    background-color: darkred;
    text-shadow: 1px 1px 2px black;
    color: white;
    font-size: 3rem;
}

header h1 {
    position :relative;
    -webkit-animation: mymove 1.5s;
    animation: mymove 1.5s;
}

body, html {
    height: 100%;
 
}

.image-bg {
    padding: 40px;
    background-image: url("https://s3.amazonaws.com/gumroad/files/9511543414889/b4e03368e7ce4fb39217c7de29d57a2b/original/Background-Narrow.jpg");
    background-attachment: fixed;
    background-size: contain;
}

.card-film {
    border: 2px solid darkred;
    color:black;
    /* background-color: white; */
    width: 60vw;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: grey;
    box-shadow: 2px 2px 10px  darkred;
}

@keyframes mymove {
    from {left: 600px;}
    to {left: 0px;}
  }

.minicard {
    min-height: 45px;
    display: flex;
    justify-content: center;
}

.minicard div {
    display: flex;
    padding: 10px;
    margin-right: 5px;
}

#carousel {
    margin-top: 5px;
}

#carousel img{
    max-height: 100px;
    width: auto;
}


.cont-poster {
    display: flex;
    justify-content: space-around;
}

.cont-poster img {
    object-fit: contain;
    border-radius: 15px;
    background-color: darkred;

}

.carousel img {
    max-height: 150px;
    object-fit: contain;
    margin: 10px;
    border-radius: 10px;
}
